{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    {% block content %}
    <div class="agregar">
        <h3 class="add_title">Filtros de las graficas</h3>
        <form method="post">
            {% csrf_token %}
            <p class="form-sub">Tiempo de graficas</p>
            <select name="fecha" id="format">
                <option selected disabled>Elija el tiempo de las graficas</option>
                <option value="dia">Dia</option>
                <option value="mes">Mes</option>
                <option value="año">Año</option>
            </select>
            <p class="form-sub">Fecha Inicial</p>
            <input type="datetime-local" name="fechaini">
            <input class="send" type="submit" name="submit">
        </form>
    </div>
    {% endblock %}
</body>
</html>