{% extends "Main.html" %}
{% load static %}

{% block content %}

<div>
    <header>
        <h1 id="TituloSeccion">Graficas</h1>
    </header>

  
    
    <div id="GridProductos">
        <h2 id="Pro-Title">Graficas Ventas</h2>
        <hr/>
        <a href="{% url 'Gmod' %}"> <div class="agregar_prod" id="margen_top"><p class="agregar-font">Filtros</p> </div></a> 
        <div id="Pro-Items22">
            {% for i in  number %}
            <div class="Item">
                <div class="container" style="width: 600px;">
                    <canvas id="myChart{{i}}"></canvas>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
var charts = [] 
for (let i =0; i <{{n}}; i++){
const ctx = document.getElementById('myChart'+i).getContext('2d');
nombre = {{names|safe}}[i]
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{labels|safe}}[i],
        datasets: [{
            label: 'Ventas ' + nombre,
            data: {{data|safe}}[i],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderColor:"black",
            lineTension: 0.6,
            pointBackgroundColor:"yellow",
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                //max:100,
                //min:0,
                beginAtZero: true,
                title: {
                    font: {
                        size: 15, 
                    },
                    color: "black",
                    display: true,
                     text: 'Ventas'
                }
            },
            x:{
                title: {
                    font: {
                        size: 15, 
                    },
                    color: "black",
                    display: true,
                    text: 'Fechas'
                }
            }
            
        }
    }
});
charts.push(myChart)
}
console.log(charts)




</script>

{%endblock%}