{% extends "Main.html" %}
{% load static %}

    {% block content %}
        <div>
            <header>
                <h1 id="TituloSeccion">Productos</h1>
            </header>
            <div id="Destacados">
               <h2 id="Pro-Title">Destacados</h2>
               <hr/>
               <div id="items">
                    <div class="ItemDestacado">
                        <h3 class="title">Mas vendido</h3>
                        <img class="product" src="{% static 'images/pan.png' %}">
                    </div>
                    <div class="ItemDestacado">
                        <h3 class="title">Mayor Cantidad</h3>
                        <img class="product" src="{% static 'images/pan.png' %}">
                    </div>
                    <div class="ItemDestacado">
                        <h3 class="title">Agotandose</h3>
                        <img class="product" src="{% static 'images/pan.png' %}">
                    </div>
               </div>
            </div>
            <div id="GridProductos">
                <h2 id="Pro-Title">Inventario</h2>
                <hr/>
                <div id="Pro-Items">
                    {% for producto in productos.all %}
                    <div class="Item">
                        <h3 class="title">{{producto.Nombre}}</h3>
                        <div class = "div_img">
                        <img class="product" src="{{MEDIA_URL}}{{producto.Imagen}}">
                        </div>
                        <br />
                        <p class="Cantidad">{{producto.Cantidad}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}