{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    {% block content %}
    <div class="agregar">
        <h3 class="add_title">Ingrese el nombre del producto a modificar</h3>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <input class="send" type="submit" name="submit">
        </form>
    </div>
    {% endblock %}
</body>
</html>