{% extends "Main.html" %}
{% load static %}

    {% block content %}
        <div>
            <header>
                <h1 id="TituloSeccion">Productos</h1>
            </header>
            <div id="Destacados">
               <h2 id="Pro-Title">Destacados</h2>
               <hr/>
               <div id="items">
                    <div class="ItemDestacado">
                        <h3 class="title2">Mas vendido</h3>
                        <div class="Item">
                            <a href="{% url 'pind' maxv.id%}" style="color: inherit;">
                            <h3 class="title">{{maxv.Nombre}}</h3>
                            <div class = "div_img">
                            <img class="product" src="{{MEDIA_URL}}{{maxv.Imagen}}">
                            </div>
                            <br />
                            <p class="Cantidad">{{maxv.Cantidad}}</p>
                            </a>
                        </div>
                    </div>
                    <div class="ItemDestacado">
                        <h3 class="title2">Mayor Cantidad</h3>
                        <div class="Item">
                            <a href="{% url 'pind' max.id%}" style="color: inherit;">
                            <h3 class="title">{{max.Nombre}}</h3>
                            <div class = "div_img">
                            <img class="product" src="{{MEDIA_URL}}{{max.Imagen}}">
                            </div>
                            <br />
                            <p class="Cantidad">{{max.Cantidad}}</p>
                            </a>
                        </div>
                    </div>
                    <div class="ItemDestacado">
                        <h3 class="title2">Agotandose</h3>
                        <div class="Item">
                            <a href="{% url 'pind' min.id%}" style="color: inherit;">
                            <h3 class="title">{{min.Nombre}}</h3>
                            <div class = "div_img">
                            <img class="product" src="{{MEDIA_URL}}{{min.Imagen}}">
                            </div>
                            <br />
                            <p class="Cantidad">{{min.Cantidad}}</p>
                            </a>
                        </div>
                    </div>
               </div>
            </div>
            <div id="GridProductos">
                <h2 id="Pro-Title">Inventario</h2>
                <hr/>
                <div class="Art-opc">
                    <a href="{% url 'agregar' %}"> <div class="agregar_prod"><p class="agregar-font">Agregar</p> </div></a> 
                    <a href="{% url 'eliminar' %}"><div class="agregar_prod"><p class="agregar-font">Eliminar</p> </div></a>
                    <a href="{% url 'modificar' %}"><div class="agregar_prod"><p class="agregar-font">Modificar</p> </div></a>
                    <a href="{% url 'agregarV' %}"><div class="agregar_prod"><p class="agregar-font">Venta</p> </div></a>
                </div>
                <div id="Pro-Items">
                    {% for producto in productos.all %}
                    
                    <div class="Item">
                        <a href="{% url 'pind' producto.id%}" style="color: inherit;">
                        <h3 class="title">{{producto.Nombre}}</h3>
                        <div class = "div_img">
                        <img class="product" src="{{MEDIA_URL}}{{producto.Imagen}}">
                        </div>
                        <br />
                        <p class="Cantidad">{{producto.Cantidad}}</p>
                        </a>
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}