<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% for message in messages %}
        <span style="color:red;">{{message}} </span>
        {% endfor %}
        <form method="post">      
            {% csrf_token %}
            <h2>Crear una cuenta<h2>
            <input type="text" name="nombre" placeholder="Nombre" required></input><br>
            <input type="text" name="apellidos" placeholder="Apellidos" required></input><br>
            <input type="text" name="usuario" placeholder="Usuario" required></input><br>
            <input type="email" name="correo" placeholder="Correo" required></input><br>
            <input type="password" name="clave" placeholder="Contraseña" required></input><br>
            <button type="submit">Registrarse</button>
        </form>
    </body>
</html>