{% extends "Main.html" %}
{% load static %}

{% block content %}
<div>
    <header>
        <h1 id="TituloSeccion">Tendencias</h1>
    </header>
    <div id="GridProductos">
        <h2 id="Pro-Title">Tendencias de productos</h2>
        <hr/>
        <div id="tendencias">
        <div class= "ten_con"> <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse quis consequatur optio quo veritatis exercitationem iusto error natus commodi dolorum cumque corrupti quia accusantium voluptates modi odio, sapiente quidem iste.</p></div>
        <div class= "ten_con"> <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse quis consequatur optio quo veritatis exercitationem iusto error natus commodi dolorum cumque corrupti quia accusantium voluptates modi odio, sapiente quidem iste.</p></div>
        <div class= "ten_con"> <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse quis consequatur optio quo veritatis exercitationem iusto error natus commodi dolorum cumque corrupti quia accusantium voluptates modi odio, sapiente quidem iste.</p></div>
        </div>
    </div>
</div>
{% endblock %}