<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <title>Document</title>
</head>
<body>
    {% for i in  number %}
    <div class="container" style="width: 300px;">
        <canvas id="myChart{{i}}"></canvas>
    </div>
    {% endfor %}
</body>
</html>


 


<script>
var charts = [] 
for (let i =0; i <{{n}}; i++){

const ctx = document.getElementById('myChart'+i).getContext('2d');
nombre = {{names|safe}}[i]

    
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{labels|safe}}[i],
        datasets: [{
            label: 'Ventas ' + nombre,
            data: {{data|safe}}[i],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
charts.push(myChart)
}
console.log(charts)




</script>

