{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    {% block content %}
    <div class="agregar">

        
        <form action="{% url 'actualizar' item.nombreProducto %}" method="post">
            {% csrf_token %}
            <p hidden>Nombre del Producto: <input type="text" value="{{item.nombreProducto}}" name="producto" > </p >
            <p hidden>Tipo de Producto: <input type="text" value="{{item.tipoProducto}}" name="tipo"></p>
            <p>Cantidad del Producto:<input type="number" name="cantidad" value="{{item.cantidadProducto}}"></p>
            <input type="submit" name="submit">
        </form>
        
    </div>
    {% endblock %}
</body>
</html>