{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminUsuario</title>
</head>
<body>
    {% block content %}
    <a href="{% url 'agregar'%}">Agregar</a>
    <br>
    <table>
        {% for i in producto %}
        <tr>
            <td>{{i.nombreProducto}}</td>
            <td>{{i.tipoProducto}}</td>
            <td>{{i.cantidadProducto}}</td>
            <td></td>
            <td><a href="{%url 'actualizar' i.nombreProducto %}">Actualizar</a></td>
            <td><a href="{%url 'borrar' i.nombreProducto %}">Borrar</a></td>
           
        </tr>
        {% endfor %}
        </table>
        </div>
    {% endblock %}
</body>
</html>