{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block content %}
    <title>Opciones</title>
</head>
<body>
    <h1>Opciones</h1>

    <h2> Ayuda y contacto</h2>
    <p>Correo:inOut@gmail.com</p>

    <h2>Sobre nosotros</h2>
    <p>InOut es una plataforma web que busca...</p>
    {% endblock %}
</body>
</html>