{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'producto.css' %}">
{% block content %}
<body>
<div id="nombreProducto">
    <h1>Parcial de Logica problablemente incompleto</h1>
</div>    

<div>
    <img src="{% static 'prueba parcial.PNG' %}" alt="no hay" height="500">
</div>

<div id="precioProducto">
    <h2>Precio</h2> 
</div>
<div id="precio">
    $40.000
</div>
<br>
<br>
<div class="botonCantidad">
    <label for="cantidad"></label>
    <input type="number" id="cantidad" nombre="cantidad" min="1" max="4" value="1">
</div>
<br>
<br>
<br>
<button class="comprar">Agregar</button>
<button class="comprar">Comprar</button>

<div id="disponibilidad">
    <h6>
        Disponibilidad: Disponible.
    </h6>
</div>
{% endblock %}


</body>
</html>